<form ng-submit="submitForm()">
    <div ng-show="{{mostrar_pnl_form}}">
        <h1>{{curso.nome}}</h1>
        <p>{{curso.questionario.nome}}</p>
        <div ng-repeat='questao in curso.questionario.questoes track by $index'>
            <b>Questão {{questao.ordem + 1| number:0}}:</b>
            {{questao.enunciado}}
            <span ng-include="getViewTipoResposta(questao.tipoResposta)">
            </span>
        </div>    
        <input type="submit" class="btn btn-sm btn-success" ng-show="{{mostrar_pnl_form && !mostrar_btn_parcial}}" value="Enviar"/>
        <input type="button" class="btn btn-sm btn-success" ng-show="{{mostrar_btn_parcial}}" value="Parcial"/>
    </div>
    
    <div ng-show="{{!mostrar_pnl_form}}">
        <h2>Nothing to do here!</h2>
    </div>
    

</form>
<hr />

<pre>
    {{respostasParticipante | json}}
</pre>
<pre>
    {{respostas | json}}
</pre>
<!--
<pre>
    {{curso | json}}
</pre>

<hr />

<pre>$location.path() = {{$location.path()}}</pre>
<pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>
<pre>$route.current.params = {{$route.current.params}}</pre>
<pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>
<pre>$routeParams = {{$routeParams}}</pre>
<br/>
<a href="#/Book/Moby">Moby</a> -->