<div ng-show="{{mostrar_pnl_form}}">
    <h1>Bem vindo as parciais</h1>
    <div ng-repeat="resultado in resultados">
        - {{resultado.enunciado}} <b>média</b> {{resultado.valor | number:2}}
    </div>
</div>
<div ng-show="{{!mostrar_pnl_form}}">
    <h2>Nothing to do Here!</h2>
</div>
<br/>
<a href="#/{{idCurso}}">Voltar</a>