<select name="questao{{questao.ordem}}" ng-model="respostas[questao.id].resp[0]">
    <option value="{{alternativa.id}}" ng-repeat="alternativa in questao.alternativas">{{alternativa.valor}}</option>
</select>