<em ng-repeat="alternativa in questao.alternativas">
<br/><input type="checkbox" name="questao{{questao.id}}" value="{{alternativa.id}}"
            ng-model="respostas[questao.id].resp[alternativa.id]"
            ng-true-value="1" ng-false-value=""/> {{alternativa.descricao}}
</em>