<select name="questao{{questao.ordem}}" ng-model="respostas[questao.id].resp">
    <option value="{{alternativa.id}}" ng-repeat="alternativa in questao.alternativas">{{alternativa.descricao}}</option>
</select>